.list-stories {
    columns: 2;
    margin-left: 21%;
    margin-right: 21%;
}

.list-art {
    columns: 4;
    margin-left: 15%;
    margin-right: 15%;
}

@media screen and (max-width:2559px) {
    .list-art {
        columns: 3;
    }

    .list-stories {
        columns: 2;
    }

}

@media screen and (max-width:1920px) {
    .list-art {
        columns: 2;
    }

    .list-stories {
        columns: 2;
    }

}

@media screen and (max-width: 1600px) {
    .list-stories {
        columns: 2;
    }

    .list-art {
        columns: 2;
    }
}

@media screen and (max-width: 910px) {
    .list-stories {
        columns: 1;
        margin-left: 0.15rem;
        margin-right: 0.15rem;
    }

    .list-art {
        columns: 1;
        margin-left: 0.15rem;
        margin-right: 0.15rem;
    }
}