.list-stories {
    columns: 2;
    margin-left: 35rem;
    margin-right: 35rem;
}

.list-art {
    columns: 4;
    margin-left: 20rem;
    margin-right: 20rem;
}

@media screen and (max-width:1920px) {
    .list-art {
        columns: 3;
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .list-stories {
        columns: 2;
        margin-left: 15rem;
        margin-right: 15rem;
    }

}

@media screen and (max-width: 1600px) {
    .list-stories {
        columns: 2;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .list-art {
        columns: 2;
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

@media screen and (max-width: 910px) {
    .list-stories {
        columns: 1;
        margin-left: 0.15rem;
        margin-right: 0.15rem;
    }

    .list-art {
        columns: 1;
        margin-left: 0.15rem;
        margin-right: 0.15rem;
    }
}