.skillbar {
    background-color: var(--btn-bg);
    border-radius: 50px;
    border: 2px solid var(--stat-outline);
    margin-bottom: 5px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;

    &::before {
        content: attr(data-skill);
        display: inline-block;
        border-radius: inherit;
        padding-left: 10px;
    }

    &.bad::before {
        width: calc(20% - 10px);
        background: var(--stat-clr)
    }

    &.ok::before {
        width: calc(33% - 10px);
        background: var(--stat-clr)
    }

    &.neutral::before {
        width: calc(50% - 10px);
        background: var(--stat-clr)
    }

    &.decent::before {
        width: calc(60% - 1px);
        background: var(--stat-clr)
    }

    &.great::before {
        width: calc(80% - 10px);
        background: var(--stat-clr)
    }

    &.expert::before {
        width: calc(100% - 10px);
        background: var(--stat-clr)
    }

}