.lightmode{
    --base-clr: #f8f9ff;
    --nav-clr: #c7caf5;
    --nav-popup-clr:#d4d6f1;
    --container-clr:#dbdff7;
    --line-clr: #bec1e0;
    --img-line-clr: #42434a;
    --hover-clr: #7f8abd8f;
    --text-clr: #000000;
    --accent-clr: #383b9b;
    --story-select-clr: #fff;
    --secondary-text-clr: #000000;
    --btn-bg: #c6c9ff;
    --btn-hover-bg:#7f8abd8f;
  }
  
  .darkmode{
    --base-clr: #191a24;
    --nav-clr: #11121a;
    --nav-popup-clr:rgb(255, 0, 0);
    --container-clr:#1b1c29;
    --line-clr: #42434a;
    --img-line-clr: #42434a;
    --hover-clr: #222533;
    --text-clr: #e6e6ef;
    --accent-clr: #7478ff;
    --story-select-clr: #fff;
    --secondary-text-clr: #b0b3c1;
    --btn-bg: #505177;
    --btn-hover-bg:#c9d2fa8f;
  }
  
  .force-dark-mode {
    --base-clr: #191a24;
    --nav-clr: #11121a;
    --nav-popup-clr:#11121a;
    --container-clr:#1b1c29;
    --line-clr: #42434a;
    --img-line-clr: #42434a;
    --hover-clr: #222533;
    --text-clr: #e6e6ef;
    --accent-clr: #7478ff;
    --story-select-clr: #fff;
    --secondary-text-clr: #b0b3c1;
    --btn-bg: #505177;
    --btn-hover-bg:#c9d2fa8f;
  }